<div class="f-info">
    <div class="f-social-info">
        <a href="https://www.facebook.com/profile.php?id=61579210253991" target="_blank" rel="noopener noreferrer" class="social-info">
            <i class="fa-brands fa-square-facebook"></i>
        </a>
        <a href="https://www.instagram.com/diksha_kushwah29/" target="_blank" rel="noopener noreferrer" class="social-info">
            <i class="fa-brands fa-square-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/diksha-kushwah-18837b324/" target="_blank" rel="noopener noreferrer" class="social-info">
            <i class="fa-brands fa-linkedin"></i>
        </a>
    </div>
    <div class="f-brand">&copy; WanderLust Private Limited</div>
    <div class="f-link">
        <a href="/listings/privacy">Privacy</a>
        <a href="/listings/terms">Terms</a>
    </div>
</div>