<nav class="navbar navbar-expand-md bg-body-white border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>

    <button class="hamburger d-md-none" id="menuToggle">&#9776</button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <div class="search mx-md-auto my-2 my-md-0">
        <form class="d-flex" role="search" action="/listings/search" method="get">
          <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search" />
          <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>

      <div class="navbar-nav ms-md-auto">
        <a class="nav-link" href="/listings/new">Become a host</a>
        <% if(!curr){ %>
          <a class="nav-link" aria-current="page" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
          <% }%>
            <% if(curr){%>
              <a class="nav-link" href="/logout"><b>Log out</b></a>
              <%}%>
      </div>
    </div>
  </div>
</nav>

<div id="menuOverlay" class="menu-overlay">
  <div class="menu-content">
      <button class="close-btn" id="closeMenu">&times;</button>
    <a class="nav-link" href="/listings">Explore</a>
    <a class="nav-link" href="/listings/new">Become a host</a>
    <% if (!curr) { %>
      <a class="nav-link" href="/signup"><b>Sign up</b></a>
      <a class="nav-link" href="/login"><b>Log in</b></a>
      <% } else { %>
        <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>
  </div>
</div>