<% layout("/layouts/boilerplate") %>
<style>
    #filters{
        display: flex;
        overflow-x: auto;
    }
    #filters::-webkit-scrollbar{
       width: 0;
    }
    .filter{
        margin-right: 2rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        text-align: center;
        white-space: nowrap;
    }
   
</style>
    <body class="listing-page">
        <div id="filters">
            <div class="filter">
                   <div><i class="fa-solid fa-fire"></i></div>
                   <p>Trending</p>
            </div>
            <div class="filter">
                   <div><i class="fa-solid fa-umbrella-beach"></i></div>
                   <p>Beach</p>
            </div>
            <div class="filter">
                   <div><i class="fa-solid fa-water"></i></div>
                   <p>Lake front</p>
            </div>
            <div class="filter">
                   <div><i class="fa-solid fa-house"></i></div>
                   <p>Tiny Home</p>
            </div>
            <div class="filter">
                   <div><i class="fa-solid fa-person-swimming"></i></div>
                   <p>Amazing pools</p>
            </div>
            <div class="filter">
                   <div><i class="fa-solid fa-bed"></i></div>
                   <p>Rooms</p>
            </div>
            <div class="filter">
                   <div><i class="fa-solid fa-city"></i></div>
                   <p>Iconic cities</p>
            </div>
            <div class="filter">
                   <div><i class="fa-solid fa-street-view"></i></div>
                   <p>Amazing views</p>
            </div>
            <div class="filter">
                   <div><i class="fa-solid fa-film"></i></div>
                   <p>Frams</p>
            </div>
            <div class="filter">
                   <div><i class="fa-solid fa-otter"></i></div>
                   <p>Omg!</p>
            </div>
            <div class="filter">
                   <div><i class="fa-solid fa-mountain-city"></i></div>
                   <p>Mountains</p>
            </div>
            <div class="filter">
                   <div><i class="fa-solid fa-campground"></i></div>
                   <p>Camping</p>
            </div>
            <div class="filter">
                   <div><i class="fa-solid fa-wheat-awn"></i></div>
                   <p>Frams</p>
            </div>
        </div>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 wrap-List">
            <% for(let listing of allListings){ %>
                <a href="/listings/<%=listing._id%>" class="cardLink">
                    <div class="card col" style="width: 22rem;">
                        <img src="<%=listing.image.url%>" class="card-img-top" alt="Listing_image"
                            style="height: 20rem;">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%=listing.title%>
                                </b> <br>
                                &#x20b9;<%= listing.price ? listing.price.toLocaleString("en-IN")
                                    : "Price not available" %>
                            </p>
                        </div>
                    </div>
                </a>
                <% } %>
        </div>
    </body>