<% layout("/layouts/boilerplate") %>

    <body>
        <h3 class="mt-3" style="text-align: center;"><b>Create new listing</b></h3>
        <div class="row">
            <div class="col-8 offset-2">
                <form action="/listings" method="post" class="needs-validation" novalidate
                    enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="form-title" class="form-label">Title</label>
                        <input type="text" id="form-title" class="form-control" name="Listing[title]"
                            placeholder="Add a cachy title" required>
                        <div class="valid-feedback">Title looks good</div>
                    </div>
                    <div class="mb-3">
                        <label for="form-description" class="form-label">Description</label>
                        <textarea name="Listing[description]" id="form-description" class="form-control"
                            required></textarea>
                        <div class="invalid-feedback">Please enter short description</div>
                    </div>

                    <div class="mb-3">
                        <label for="form-image" class="form-label">Upload Image</label>
                        <input type="file" id="form-image" name="Listing[image]" class="form-control" required>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="form-price" class="form-label">Price</label>
                            <input id="form-price" name="Listing[price]" class="form-control" placeholder="1200"
                                required>
                            <div class="invalid-feedback">Price should be correct</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="form-country" class="form-label">Country</label>
                            <input type="text" id="form-country" name="Listing[country]" class="form-control"
                                placeholder="India" required>
                            <div class="invalid-feedback">Country name should be valid</div>
                        </div>
                    </div>
                    <div class="mb-5">
                        <label for="form-location" class="form-label">Location</label>
                        <input type="text" id="form-location" name="Listing[location]" class="form-control"
                            placeholder="Jaipur, Rajsthan" required>
                        <div class="invalid-feedback">Location should be valid</div>
                    </div>
                    <div class="mb-5">
                        <label for="form-category" class="form-label">Choose a category:</label>
                        <select id="form-category" name="Listing[category]" class="form-control" required>
                            <option value="">-- Select Category --</option>
                            <option value="Trending Now">Trending Now</option>
                            <option value="Beachfront">Beachfront</option>
                            <option value="Lakefront">Lakefront</option>
                            <option value="Tiny Homes">Tiny Homes</option>
                            <option value="Luxury Villas">Luxury Villas</option>
                            <option value="Private Rooms">Private Rooms</option>
                            <option value="City Getaways">City Getaways</option>
                            <option value="Scenic Views">Scenic Views</option>
                            <option value="Farm Stays">Farm Stays</option>
                            <option value="WOW Homes">WOW Homes</option>
                            <option value="Mountain Retreats">Mountain Retreats</option>
                            <option value="Camping & Glamping">Camping & Glamping</option>
                            <option value="Nature Escapes">Nature Escapes</option>
                            <option value="Affordable Stays">Affordable Stays</option>
                            <option value="Family Friendly">Family Friendly</option>
                            <option value="Architectural Gems">Architectural Gems</option>
                        </select>
                    </div>
                    <button class="btn btn-dark mb-4">Add</button>
                </form>
            </div>
        </div>
    </body>

    </html>